#footer-space {
	position: relative;
	width: 100%;
	height: 67px;
}
#footer > .container > ul {
	display: table;
}
#footer .link {
	display: table-cell;
	float: none;
}

#footer > .container > ul > li > a {
	margin: 0;
}