#footer-space {
	position: relative;
	width: 100%;
	height: 85px;

}
#footer {
	min-height: 0px;
	background-color: #3e454c;
	border-color: #fff6e5;
}
#footer > .container > ul {
	display: table;
}
#footer .link {
	display: table-cell;
	float: none;
}

#footer > .container > ul > li > a {
	margin: 0;
	padding: 3px 0;
}