body {
	padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.hide {
	display: none !important;
}

.hidden {
	visibility: hidden;
}

.width-half {
	width: 49.3%;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.float-none {
	float: none;
}

.clear-both {
	clear: both;
}

.display-flex {
	display: flex;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.vert-align-middle {
	vertical-align: middle !important;
}

.items-vert-center {
	display: flex;
	align-items: center;
}

.margin-auto {
	margin: auto;
}

.margin-left-auto {
	margin-left: auto;
}

.margin-right-auto {
	margin-right: auto;
}

.no-margin {
	margin: 0;
}

.no-margin-bot  {
	margin-bottom: 0;
}

.no-margin-top  {
	margin-top: 0;
}

.xsm-margin {
	margin: 5px;
}

.sm-margin {
	margin: 10px;
}

.md-margin {
	margin: 20px;
}

.lg-margin {
	margin: 30px;
}

.xlg-margin {
	margin: 50px;
}

.xxsm-margin-left {
	margin-left: 2.5px;
}

.xsm-margin-left {
	margin-left: 5px;
}

.sm-margin-left {
	margin-left: 10px;
}

.md-margin-left {
	margin-left: 20px;
}

.lg-margin-left {
	margin-left: 30px;
}

.xxsm-margin-right {
	margin-right: 2.5px;
}

.xsm-margin-right {
	margin-right: 5px;
}

.sm-margin-right {
	margin-right: 10px;
}

.md-margin-right {
	margin-right: 20px;
}

.lg-margin-right {
	margin-right: 30px;
}

.xsm-margin-top {
	margin-top: 5px;
}

.sm-margin-top {
	margin-top: 10px;
}

.md-margin-top {
	margin-top: 20px;
}

.lg-margin-top {
	margin-top: 30px;
}

.xlg-margin-top {
	margin-top: 50px;
}

.xsm-margin-bot {
	margin-bottom: 5px;
}

.sm-margin-bot {
	margin-bottom: 10px;
}

.md-margin-bot {
	margin-bottom: 20px;
}

.lg-margin-bot {
	margin-bottom: 30px;
}

.xlg-margin-bot {
	margin-bottom: 50px;
}

.no-padding {
	padding: 0;
}

.xxsm-padding {
	padding: 2.5px;
}

.xsm-padding {
	padding: 5px;
}

.sm-padding {
	padding: 10px;
}

.md-padding {
	padding: 20px;
}

.lg-padding {
	padding: 30px;
}

.xsm-padding-top {
	padding-top: 5px;
}

.sm-padding-top {
	padding-top: 10px;
}

.md-padding-top {
	padding-top: 20px;
}

.lg-padding-top {
	padding-top: 30px;
}

.xsm-padding-bot {
	padding-bottom: 5px;
}

.sm-padding-bot {
	padding-bottom: 10px;
}

.md-padding-bot {
	padding-bottom: 20px;
}

.lg-padding-bot {
	padding-bottom: 30px;
}

.xsm-padding-left {
	padding-left: 5px;
}

.sm-padding-left {
	padding-left: 10px;
}

.md-padding-left {
	padding-left: 20px;
}

.lg-padding-left {
	padding-left: 30px;
}

.xsm-padding-right {
	padding-right: 5px;
}

.sm-padding-right {
	padding-right: 10px;
}

.md-padding-right {
	padding-right: 20px;
}

.lg-padding-right {
	padding-right: 30px;
}

/*.background-color-mint {
	background-color: #BDFCC9;
}

.background-color-grey {
	background-color: #333;
}

.background-color-grey-opaque {
	background-color: rgba(51,51,51,0.5);
}

.background-color-white {
	background-color: white;
}

.color-white {
	color: white;
}

.color-mint {
	color: #BDFCC9;
}

.color-grey {
	color: #333;
}

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	z-index: -1;
}

.box-shadow {
	-webkit-box-shadow: 0px 2px 25px 6px rgba(30,30,30,0.8);
	-moz-box-shadow: 0px 2px 25px 6px rgba(30,30,30,0.8);
	box-shadow: 0px 2px 25px 6px rgba(30,30,30,0.8);
}*/

.font-md-bolder {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.font-heading {
	font-size: 40px;
	font-weight: 100;
}

.font-xsuper-heading {
	font-size: 60px;
	font-weight: 100;
}

.font-super-heading {
	font-size: 50px;
	font-weight: 100;
}

.font-subsection {
	font-size: 30px;
	font-weight: 100;
}

.font-md {
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0.5px;
}

.font-xs {
	font-size: 10px;
	font-weight: 100;
}

.font-sm {
	font-size: 12.5px;
	font-weight: 100; 
	letter-spacing: 0.75px;
}

.font-lg {
	font-size: 20px;
	font-weight: 100;
}

.font-xlg {
	font-size: 25px;
	font-weight: 100;
}

.font-italic {
	font-style: italic;
}

.img-container, .img-container img.img-thumbnail {
	max-width: 75px;
	max-height: 75px;
}

/*table {
	border-bottom: 1px solid #ddd;
}

table tr {
	height: 75px;
}*/

table td:not(:first-child){
    width: 100%;
}

table td:first-child{
    white-space: nowrap;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	color: white;
}

/*.icon {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

form > input[type=text],
form > textarea {
	background-color: rgba(51,51,51,0.7);
	font-size: 16px;
	border: 1px solid rgba(189, 252, 201, .7);
	padding: 10px;
  	line-height: 22px;
}

input[type=radio] {
	display: none;
}

input[type="radio"] + label 
span {
	float: left;
    width: 22px;
    height: 15px;
    margin: 2px 2px 0 0;
    background: url("/img/radio-not-selected.png") left top no-repeat;
    background-size: 95%;
    cursor: pointer;
}

input[type="radio"]:checked + label
span {
    background:url("/img/radio-selected.png") left top no-repeat;
    background-size: 95%;
}

::-webkit-input-placeholder {
    color: rgba(189, 252, 201, 1);
}
:-moz-placeholder {
    color: rgba(189, 252, 201, 1);
}
::-moz-placeholder {
    color: rgba(189, 252, 201, 1);
}
:-ms-input-placeholder {
    color: rgba(189, 252, 201, 1);
}

ul {
	list-style-type: none;
}

::-webkit-scrollbar {
    width: 14px;
}
 
::-webkit-scrollbar-track {
	border: 5px solid transparent;
	background-color: rgba(189, 252, 201, .7);
	background-clip: content-box;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    border: 3px solid transparent;
    background-color: #333; 
    background-clip: content-box;
}*/

