#num-meals {
	line-height: inherit;
	max-width: 100px;
	height: auto;
	margin: 0;
	font-size: 40px;
	text-align: center;
	padding: 0px 4px;
}

#meals a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

#meals .adjust-num-meals > .add-meal:hover,
#meals .adjust-num-meals > .remove-meal:hover {
	cursor: pointer;
}

#meals .adjust-num-meals > .num-servings:hover {
	cursor: default;
}

.ingredient > td > div.quantity {
	width: 30px;
	height: 30px;
	border: 1px solid #fff6e5;
	border-radius: 5px;
	background-color: rgba(26,106,157,0.3);
	color: #fff6e5;
}