.dialog {
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
}

.dialog .modal-close:hover {
	cursor: pointer;
}

.meal-grid .adjust-num-meals {
	width: 100%;
	text-align: center;
	padding: 2.5px 25px;
}

.meal-grid .adjust-num-meals > div {
	display: inline-block;
	position: relative;
}

.meal-grid .adjust-num-meals > .add-meal {
	float: right;
	bottom: 4px;
}

.meal-grid .adjust-num-meals > .remove-meal {
	float: left;
	bottom: 4px;
}

.meal-grid .meal-grid-body {
	background-color: #edebe6;
}