div#serving-size > input,
div#serving-size > span {
	background-color:#3e454c; 
	color:#fff6e5; 
	border-color:#fff6e5;
}

.recipe-cards {
	position: relative;
	padding-top: 15px;
	height: 100%;
	min-height: 330px;
/*	padding-left: 90px;*/
}

.recipe-card {
/*	position: absolute;*/
/*	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/
/*	margin: auto;*/
	position: relative;
	z-index: 1;
	margin: 0;
	width: 200px;
	height: 250px;
	border: none;
	border-radius: 6px;
	padding: 0;
/*	display: none;*/
	box-shadow: 0px 14px 68px 6px rgba(0,0,0,0.5);
	overflow: hidden;
	transition: width 0.75s,
				height 0.75s,
				left 0.75s,
				right 0.75s,
				top 0.75s,
				bottom 0.75s,
				padding 0.75s,
				position 0.75s,
				margin 0.75s,
				overflow 0.75s,
				z-index 0.75s,
				background-color 0.75s ease-in;
}

.recipe-card.selected {
/*	width: 250px;
	height: 300px;*/
	display: block;
/*	margin: 0 -50px;*/
	z-index: 1000;
}

.recipe-card.details {
	position: fixed;
	margin:0;
	overflow: auto;
	width: 100%;
	height: 100%;
	z-index: 1040;
	border-radius: 0px;
	top: 0px;
	background-color: rgba(62,69,76, 1);
}

.recipe-card.details .recipe-choice {
	bottom: 10px;
	top: auto;
}

.recipe-card.details .recipe-name {
	top: 0;
	bottom: auto;
	font-size: 20px;
}

.recipe-card.details .recipe-name > i {
	display: block;
}

.recipe-card.details > div:first-child {
	height: 200px !important;
	overflow: hidden;
}

.recipe-card.details > div > img {
	border-radius: 0px !important;
	margin-top: -100px;
}

.recipe-card .recipe-name {
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	color: #fff6e5;
/*	padding: 50px 7.5px 10px;*/
	letter-spacing: 1.25px;
	font-size: 25px;
	line-height: 30px;
/*	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));*/
	background-color: rgba(62,69,76,0.7);
	padding: 10px 7.5px;

	transition: top 0.75s,
				left 0.75s,
				bottom 0.75s;
}

.recipe-card .recipe-name > i {
	display: none;
}

.recipe-card  > .info {
/*	position: absolute;
	bottom: 0;
	width:100%;
	color: white;
	padding: 100px 15px 10px 15px;*/
/*	border:none; 
	border-radius:0px;*/
/*	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));*/
}

.recipe-card .recipe-choice {
	position: absolute;
	top: 0;
	width: 100%;
	color: #fff6e5;

	transition: top 0.75s,
				bottom 0.75s;

}

.recipe-card .recipe-choice > div {
	background-color: rgba(62,69,76,0.9);
	height: 65px;
	position: relative;
}

.recipe-card .recipe-choice > div > i {
	position: relative;
	top: -9.75px;
}

.recipe-card .recipe-details {
	display: none;
}

.recipe-card.details .recipe-details {
	display: block;
}

.recipe-card .overlay {
	display: none;
}

.recipe-card.thumbnail {
/*	margin: 0;*/
/*	width: 20%;*/
	max-height: 95px;
	max-width: 95px;
/*	height: auto;
	bottom: 0;
	top: auto;
	left: auto;
	right: auto;
	z-index: 1040;
	border-radius: 0px;*/
	top: 5px;
	height: auto;
	display: inline-block;
	position: relative;
}

.recipe-card.thumbnail > div:not(:first-child),
.recipe-card.thumbnail > div > div {
	display: none;
}

.recipe-card.thumbnail.tapped {
	top: 0px;
}

.recipe-card.thumbnail.tapped .overlay {
	display: flex;
}

.selected-recipe > .overlay {
	visibility: hidden;

	transition: visibility 0.75s;
}

.selected-recipe.tapped > .overlay {
	visibility: visible;
}

/*#recipe-footer > div {
	position: relative;
	display: none;
}

#recipe-footer > div.selected {
	top: -3px;
	display: block;
}

#recipe-footer > div.selected > .overlay {
	display: none;
}

#recipe-footer > div.selected.tapped > .overlay {
	display: block;
}*/