<template name="footer">
	<div id="footer-space"></div> <!-- this is hacky, figure out a better way -->
	<nav id="footer" class="no-margin navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<ul class="nav nav-tabs nav-justified items-vert-center">
				<li role="presentation" class="active link"><a href="#items" data-toggle="tab">
					<i class="font-xlg ion-ios-nutrition"></i>
				</a></li>
				<li role="presentation" class="link"><a href="#meals" data-toggle="tab">
					<i class="font-xlg ion-android-restaurant"></i>
				</a></li>
				<li role="presentation" class="link"><a href="#list" data-toggle="tab">
					<i class="font-xlg ion-ios-cart"></i>
				</a></li>
			</ul>
		</div>
	</nav>
</template>