<head>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>

<template name="home">
<!-- 	<div class="fluid-container">
		<div class="tabbable">
			<div class="tab-content">
				<div id="items" class="tab-pane fade in active">
					<div class="row">
						<div class="col-xs-12">
							{{ > items}}
						</div>
					</div>
				</div>
				<div id="meals" class="tab-pane fade">
					<div class="row">
						<div class="col-xs-12">
							{{#if showGrid}}
								{{ > meals_grid}}
							{{else}}
								{{ > meals}}
							{{/if}}
						</div>
					</div>
				</div>
				<div id="list" class="tab-pane fade">
					<div class="row">
						<div class="col-xs-12">
							{{ > list}}
						</div>
					</div>
				</div>
			</div>
			{{ > footer}}
		</div>
	</div> -->
	<div class="container items-vert-center" style="height:80%; width:90%; position:absolute;">
		<div style="width:100%">
			<h1 class="text-align-center md-margin-bot">I Want to Make</h1>
			<div class="text-align-center items-vert-center">
				<div class="margin-auto items-vert-center">
					<div id="remove-num-meals" class="font-super-heading inline-block sm-padding">
						<i class="ion-android-remove-circle"></i>
					</div>
					<input class="inline-block" type="text" id="num-meals" value="3" min="1">
					<div id="add-num-meals" class="font-super-heading inline-block sm-padding">
						<i class="ion-android-add-circle"></i>
					</div>
				</div>
			</div>
			<h1 class="text-align-center">Meals</h1>
		</div>
<!-- 		<br>
		<button type="submit" class="btn btn-primary btn-block btn-lg center-block" style="white-space:normal; padding:7px; font-size:20px;">Generate Meal Recommendations</button> -->
		<nav id="footer" class="no-margin navbar navbar-default navbar-fixed-bottom font-subsection text-align-left md-padding">
			<a href="/meals" class="items-vert-center">
				<span style="line-height:30px">Recipe Recommendations!</span>
				<i class="ion-chevron-right margin-left-auto sm-margin-right font-heading"></i>
			</a>
		</nav>
	</div>
</template>