<head>
	<meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
</head>

<template name="home">
	<div class="fluid-container">
		<div class="tabbable">
			<div class="tab-content">
				<div id="items" class="tab-pane fade in active">
					{{ > items}}
				</div>
				<div id="meals" class="tab-pane fade">
					{{#if showGrid}}
						{{ > meals_grid}}
					{{else}}
						{{ > meals}}
					{{/if}}
				</div>
				<div id="list" class="tab-pane fade">
					{{ > list}}
				</div>
			</div>
			{{ > footer}}
		</div>
	</div>
</template>