<template name="home2">
	<div class="fluid-container">
		<div class="tabbable">
			<div class="tab-content">
				<div id="items" class="tab-pane fade in active">
					<div class="row">
						<div class="col-xs-12">
							{{ > items}}
						</div>
					</div>
				</div>
				<div id="meals" class="tab-pane fade">
					<div class="row">
						<div class="col-xs-12">
							{{#if showGrid}}
								{{ > meals_grid}}
							{{else}}
								{{ > meals}}
							{{/if}}
						</div>
					</div>
				</div>
				<div id="list" class="tab-pane fade">
					<div class="row">
						<div class="col-xs-12">
							{{ > list}}
						</div>
					</div>
				</div>
			</div>
			{{ > footer}}
		</div>
	</div>
</template>