<template name="items">
<!-- 	<div class="row"> -->
		<div class="col-xs-12">
			<h2 class="md-margin-bot text-align-center">Items You Have</h2>
			<div class="panel-group">
				<div class="panel panel-default">
					{{#each categories}}
						{{ > category}}
					{{/each}}
				</div>
			</div>
			<div id="footer-space"></div>
			<nav id="footer" class="no-margin navbar navbar-default navbar-fixed-bottom font-subsection text-align-center md-padding">
				<a href="/" class="items-vert-center">
					<span class="margin-auto">Discover Meals!</span>
					<i class="ion-chevron-right margin-left-auto sm-margin-right font-heading"></i>
				</a>
			</nav>
		</div>
<!-- 	</div> -->
</template>

<template name="category">
	<div class="panel-heading" style="border-top: 1px solid #fff6e5;">
<!-- 		<h4 class="panel-title">{{name}} -->
			<a class="collapseable items-vert-center font-md-bolder" data-toggle="collapse" href="#{{id}}" style="text-decoration:none;">
				<span class="panel-title">{{name}}</span>
				<i class="chevron_toggleable ion-chevron-up margin-left-auto"></i>
			</a>
<!-- 		</h4> -->
	</div>
	<div id="{{id}}" class="panel-collapse collapse in">
		{{> items_table}}
	</div>
</template>

<template name="items_table">
	<table class="table">
		<tbody>
			{{#each items}}
				{{ > item}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="item">
	<tr class="item">
		<td>
			<div class="img-container no-margin">
				<img src="{{img}}" class="img-responsive img-thumbnail" alt="{{name}}" />
			</div>
		</td>
		<td class="vert-align-middle">
			<div class="font-md-bolder">{{name}}</div>
			<div class="text-align-center">
				<div class="progress no-margin-bot sm-margin-top">
 					<div class="progress-bar" role="progressbar" aria-valuenow="{{quantity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{quantityPercentage quantity}}%;">
    {{quantity}}
  					</div>
				</div>
				<span class="pull-left">0</span>
				<span class="font-md font-italic sm-margin-top">{{unit}}</span>
				<span class="pull-right">{{quantityCeiling quantity}}</span>
			</div>
		</td>
	</tr>
</template>