<template name="list">
<!-- 	<div class="row"> -->
		<div class="col-xs-12">
			<h2 class="md-margin-bot text-align-center">Your Shopping List</h2>
			<table class="table">
		<!-- 		<thead>
					<tr>
						<th colspan="3" class="font-lg">Items Needed</th>
					</tr>
				</thead> -->
				<tbody>
					{{#each ingredients}}
						{{ > ingredient}}
					{{/each}}
				</tbody>
			</table>
		</div>
<!-- 	</div> -->
</template>

<template name="ingredient">
	<tr class="ingredient">
		<td>
			<div class="img-container no-margin">
				<img src="{{img}}" class="img-responsive img-thumbnail" alt="{{name}}" />
			</div>
		</td>
		<td class="vert-align-middle">
			<div class="font-md-bolder">{{name}}</div>
			{{#each recipes}}
				<div class="font-sm font-italic xsm-padding-top" style="letter-spacing:1.25px;">{{this}}</div>
			{{/each}}
		</td>
		<td class="vert-align-middle">
			<div class="font-md-bolder quantity items-vert-center">
				<span class="margin-auto">{{quantity}}</span>
			</div>
		</td>
	</tr>
</template>