<template name="meals">
	<table class="table">
		<thead>
			<tr>
				<th colspan="3" class="font-lg">Meal Suggestions</th>
			</tr>
		</thead>
		<tbody>
			{{#each meals}}
				{{ > meal}}
			{{/each}}
		</tbody>
	</table>
	{{ > footer}}
</template>

<template name="meal">
	<tr class="meal">
<!-- 		<td>
			<div class="img-container">
				<img src="{{img}}" class="img-responsive img-thumbnail center-block" alt="{{name}}" />
			</div>
		</td> -->
		<td class="vert-align-middle">{{name}}</td>
<!-- 		<td class="vert-align-middle">
			<button type="button" class="pull-right btn btn-primary btn-sm">Sync</button>
		</td> -->
	</tr>
</template>