<template name="meals">
	<table class="table">
		<thead>
			<tr>
				<th colspan="3" class="font-lg">Meal Suggestions</th>
			</tr>
		</thead>
		<tbody>
			{{#each meals}}
				{{ > meal}}
			{{/each}}
		</tbody>
	</table>
<!-- 	{{ > footer}} -->
</template>

<template name="meal">
	<tr class="meal">
		<td>
			<div class="img-container no-margin">
				<img src="{{img}}" class="img-responsive img-thumbnail" alt="{{name}}" />
			</div>
		</td>
		<td class="vert-align-middle">{{name}}</td>
		<td class="add_meal">
			<i class="font-xlg ion-ios-plus-outline"></i>
			<span class="hidden">{{name}}</span>
		</td>
	</tr>
</template>