<template name="recipe_header">
	<nav id="recipe-header" class="no-margin navbar navbar-default navbar-fixed-top">
		<a href="/list" class="items-vert-center" style="text-decoration:none;">
			<div class="margin-right-auto md-padding-left" style="position:relative;">
				<span style="background-color:red; border-radius:100%; position:absolute; padding:1px 7px; color: white; top:4px; right:-12px;">{{num_selected}}</span>
				<i class="ion-ios-cart-outline font-heading"></i>
			</div>
			<div class="margin-auto" style="border-right:1px solid black; height:60px;"></div>
			<div class="margin-left-auto items-vert-center">
				<span class="margin-auto font-subsection md-padding-right">Let's Shop</span>
				<i class="ion-chevron-right margin-left-auto sm-margin-right font-heading"></i>
			</div>
		</a>
	</nav>
</template>